# The `remote_user` and `private_key_pair` of the bastion/jump can be defined here
# or in the inventory as `ansible_remote_user`, `ansible_ssh_private_key_file`
[defaults]
#remote_user = linux
#private_key_file=~/.ssh/cloud-KeyPair.pem
roles_path = roles/
host_key_checking=False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=600s
timeout = 10
# shorten the ControlPath which is often too long; when it is,
# ssh connection reuse silently fails, making everything slower.
control_path = %(directory)s/%%h-%%r
